<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>야행지</title>
</head>
<body>
    <ul>
       <% travelList.forEach(travle => { %>
        <li>
            <%= travle %>
        </li>
         <% }) %>
    </ul>
</body>
</html>